.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.item-custom {
  outline: 1px solid #525151 !important;
  background-color: #e295a3 !important;
  gap: 1em;
}
.item-custom:hover {
  background-color: #f0c9d7 !important;
  text-align: center;
}

.item-custom2 {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: center;
}
.item-custom3 {
  text-align: center;
}